<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>board</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>kr.or.ddit.users.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardTypeServlet</display-name>
    <servlet-name>BoardTypeServlet</servlet-name>
    <servlet-class>kr.or.ddit.board.controller.BoardTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardTypeServlet</servlet-name>
    <url-pattern>/boardType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardServlet</display-name>
    <servlet-name>BoardServlet</servlet-name>
    <servlet-class>kr.or.ddit.board.controller.BoardTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardServlet</servlet-name>
    <url-pattern>/board</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateBoardServlet</display-name>
    <servlet-name>CreateBoardServlet</servlet-name>
    <servlet-class>kr.or.ddit.board.controller.CreateBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateBoardServlet</servlet-name>
    <url-pattern>/createBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>asdasd</display-name>
    <servlet-name>asdasd</servlet-name>
    <servlet-class>kr.or.ddit.board.controller.asdasd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>asdasd</servlet-name>
    <url-pattern>/aasdasdasdasd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBoardServlet</display-name>
    <servlet-name>UpdateBoardServlet</servlet-name>
    <servlet-class>kr.or.ddit.board.controller.UpdateBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBoardServlet</servlet-name>
    <url-pattern>/updateBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardListServlet</display-name>
    <servlet-name>BoardListServlet</servlet-name>
    <servlet-class>kr.or.ddit.board.controller.BoardListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardListServlet</servlet-name>
    <url-pattern>/boardList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreatePostServlet</display-name>
    <servlet-name>CreatePostServlet</servlet-name>
    <servlet-class>kr.or.ddit.board.controller.CreatePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePostServlet</servlet-name>
    <url-pattern>/createPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostListServlet</display-name>
    <servlet-name>PostListServlet</servlet-name>
    <servlet-class>kr.or.ddit.board.controller.PostListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostListServlet</servlet-name>
    <url-pattern>/postList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostContentServlet</display-name>
    <servlet-name>PostContentServlet</servlet-name>
    <servlet-class>kr.or.ddit.board.controller.PostContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostContentServlet</servlet-name>
    <url-pattern>/postContent</url-pattern>
  </servlet-mapping>
</web-app>